.icon-container 
  width: 63px
  height: 63px
  flex-shrink: 0
  border-radius: 5px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 4px
  color: #1D1D1B

  &.selected
    background-color: #FFF

.category-name
  color: gray
  text-align: center
  font-size: 10px
  font-style: normal
  font-weight: 700
  line-height: 14px
  letter-spacing: 0.1px
  text-decoration: none
               


