body 
 background-color: #F4F5F8
 margin: 0
 padding:0
 

.navbar
  width: 100%
  height: 60px
  background: linear-gradient(180deg, #BB1E1E 0%, #B21919 100%)
  display: flex
  justify-content: space-around
  align-items: center
  color: #FFF

.bolded-text
  color: #FFF
  text-align: center
  font-size: 14px
  font-weight: 600
  line-height: 20px

.discover
  color: #FFF
  font-family: InterV
  font-size: 14px
  font-style: normal
  font-weight: 400
  line-height: 21px 
  letter-spacing: -0.119px

.button-get
  width: 69px
  height: 40px
  flex-shrink: 0
  border-radius: 8px 
  border:1px solid white
  background: #FFF
  color: #1D1D1B
  text-align: center
  margin-left:5px
  font-family: InterV_Bold
  font-size: 14px
  font-style: normal
  font-weight: 400
  line-height: 20px 
  text-transform: uppercase
  

